/* Estilos específicos para los ion-input en este componente */
ion-input::part(input) {
    padding: 0.75rem;
    color: white;

    &::placeholder {
        color: #aaa;
    }
}

/* Si querés que ion-button se vea bien en Android con fondo oscuro */
ion-button {
    --background: #1f2937;
    /* ejemplo: gris oscuro */
    --color: white;
}