<div class="w-full max-w-md p-6 bg-black rounded-2xl shadow-lg border border-gray-600">
  <h1 class="text-3xl font-bold text-center mb-6 text-white">Login</h1>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-4">

    <!-- Email o Usuario -->
    <ion-item lines="none" class="rounded-xl border border-gray-600 bg-gray-700">
      <ion-input formControlName="email" type="text" placeholder="Email" class="p-3 text-white"></ion-input>
    </ion-item>
    @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
    <div class="text-red-500 text-sm">Campo obligatorio</div>
    }

    <!-- Password -->
    <ion-item lines="none" class="rounded-xl border border-gray-600 bg-gray-700">
      <ion-input formControlName="password" type="password" placeholder="Contraseña" class="p-3 text-white"></ion-input>
    </ion-item>
    @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
    <div class="text-red-500 text-sm">Mínimo 8 caracteres</div>
    }

    <!-- Botón -->
    <ion-button expand="block" type="submit" [disabled]="loginForm.invalid" class="rounded-xl">
      Iniciar sesión
    </ion-button>

  </form>
</div>